.invoice-background{
    background-color: rgb(175, 175, 175);
    border: 1px solid rgb(77, 59, 59);
    height: 100vh   ;
}
.table-invoice{
    margin-left: 260px ;
    margin-right: 10px;
    margin-top: 10px;
    height: 97vh;
    background-color: white;
    border-radius: 4px;
}

.form-control {
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

/* Thêm hiệu ứng hover cho input và button */
/* .form-control:hover, */
/* .invoice-btn-search:hover {
    border-color: #555;
} */
.invoice-search-input{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

.invoice-btn-search {
    background: none;
    cursor: pointer;
}
.invoice-search{
    width: 20px;
    height: auto;
}

/* Định dạng bảng */
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    
}


th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
}


tbody tr:nth-child(even) {
    background-color: #ffffff;
}


tbody tr:hover {
    background-color: #e6e6e6;
}


td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.rowShow{
    cursor: pointer;
}
@media only screen and (min-width: 0) and (max-width: 1149px){
    .table-invoice{
        margin-left: 80px ;
        margin-right: 10px;
        margin-top: 10px;
        height: 97vh;
        background-color: white;
        font-size: 14px;
    }
    #leftmenu ul li:hover {
		border-right: none;
		background: #fff;
		transition: 0.5s;
		cursor: pointer;
	}
}