*{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
body{
	overflow: auto;
}

#wrap{
	display: flex;
	flex-wrap: wrap;
}
/*LEFT MENU*/
#leftmenu {
	width: 250px;
	overflow: hidden;
	height: 100vh;
	background: #000;
	/* background: linear-gradient(0deg, rgba(255, 50, 125, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(40, 90, 255, 1) 100%); */
	position: fixed;
	transition: 0.5s;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#leftmenu .logo {
	width: 250px;
	height: 80px;
	background-color: #191919;
	text-align: center;
	margin: 30px 0;
}

#leftmenu .logo img {
	height: 100%;
}

#leftmenu ul li {
	width: 100%;
	display: flex;
	padding: 10px;
	list-style-type: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* #leftmenu:hover ul li {
	visibility: visible;
} */
#query {
	text-align: center;
	padding: 0 5px;
}

#leftmenu ul li img {
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 15px;
	padding: 8px;
}

#leftmenu ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 14pt;
	display: inline-block;
	width: calc(100% - 50px);
	height: 50px;
	line-height: 50px;
	padding-left: 50px;
}

#leftmenu ul li:last-child {
	border: none;
}

#leftmenu ul li:hover {
	border-right: 20px solid rgba(255, 50, 125, 1);
	background: #ddd;
	transition: 0.3s ease-out;
}

#leftmenu ul li a:hover {
	color: #000;
	transition: 0.2s;
}

#account {
	background-color: #fff;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	bottom: -30%;
}

#account #hello {
	margin-left: auto;
	margin-right: 20px;
	padding: 10px;
	font-size: 14pt;
	font-weight: bold;
	position: relative;
	background-color: #a4b0be;
	border-radius: 999px;
	display: flex;
	align-items: flex-end;
}

#account #hello:hover button {
	opacity: 1;
}

#account #hello button {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: #2f3542;
	border: 3px solid #2f3542;
	color: #fff;
	font-size: 14pt;
	line-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 999px;
	outline: none;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.5s;
}

#account #hello button:active {
	background-color: #fff;
	color: #2f3542;
}

#maincontent{	
	background: white;
	width: calc(100vw - 70px);
	margin-left: 260px;
	height: 100%;
}

#content{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	
}
/*NAV*/
#nav{
	background-color: linear-gradient(0deg, rgba(255,50,125,0.5) 0%, rgba(255,255,255,0.3) 50%, rgba(40,90,255,0.5) 100%);
	height: 100px;
}
#nav .nav_sub{
	height: 100px;
	width: 40%;
	background-color: rgb(224, 210, 210);
	margin: 20px auto;
	border-radius: 999px;
}
#nav .nav_sub h1{
	line-height: 100px;
	text-align: center;
	font-family: "IBM Plex Sans" , sans-serif;
	font-size: 24px;
	color: rgb(82, 72, 72);
}
#nav .nav_sub img{
	height: 100%;
	float: left;
	border-radius: 999px;
}
/*NAV*/
/*CONTENT-LEFT SECTION*/
#content #leftsection{
	width: 100%;
	padding: 40px 40px 0px;
	height:auto ;
}
#content #leftsection #maintable{
	width: 100%;
	min-height: 55vh;
	background-color: white;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.9);
	padding: 30px 50px 10px ;
	overflow-x: auto;
}
#content #leftsection #maintable h1{
	text-align: center;
	margin-bottom: 20px;
	color: black;
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 20px;
}
#content #leftsection #maintable table,th,td{
	border: 1px solid black;
}
#content #leftsection #maintable table{
	width: 100%;
	border-collapse: collapse;
	background-color: white;
}
#content #leftsection #maintable table#billlist tr:not(:first-child){
	cursor: pointer;
}
#content #leftsection #maintable table#billlist tr:not(:first-child):hover{
	background-color: #ced6e0;
}
#content #leftsection #maintable th{
	background-color: black;
    color: white;
    height: 35px;
	padding: 0 5px;
	font-family: "Roboto Mono", sans-serif;
	font-size: 10pt;
}
#content #leftsection #maintable td{
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
	font-family: "Roboto Mono", sans-serif;
	background-color: #f9eee9;
}
/*#content #leftsection #maintable td:nth-child(2) {
    max-width: 200px; /* Adjust the value as needed 
	width: 200px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}*/
#content #leftsection #maintable td:last-child{
    text-align: center;
}
/*CONTENT-LEFT SECTION*/
/*CONTENT-RIGHT SECTION*/
#content #rightsection{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 40px 40px 0px;
}
#content #rightsection .subsection{
	width: 100%;
	min-height: 55vh;
	background-color: white;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.9);
	padding: 30px 50px 10px ;
	overflow-x: auto;
}
#content #rightsection .subsection h1{
	text-align: center;
	margin-bottom: 10px;
	color: black;
	font-family: "IBM Flex Sans", sans-serif;
	font-size: 20px;
}
#content #rightsection .subsection h2{
	text-align: center;
	margin-bottom: 10px;
	color: black;
	font-family: "IBM Flex Sans", sans-serif;
	font-size: 20px;
}
#content #rightsection .subsection form{
	width: 300px;
	margin: 0 auto;
}
#content #rightsection .subsection label{
	font-size: 14pt;
	cursor: pointer;
}
#content #rightsection .subsection input{
	display: block;
	width: 300px;
	height: 30px;
	line-height: 30px;
	font-size: 13pt;
	border: 3px solid rgba(0,0,0,1);
	margin: 5px 0 20px 0px;
}
#content #rightsection .subsection input:focus{
	outline: none;
}
#content #rightsection .subsection select{
	height: 30px;
	width: 173px;
	border: 1px solid rgba(0,0,0,.2);
	border-bottom: 2px solid #000;
	margin: 5px 0 20px 20px;
}
#content #rightsection .subsection #imgadd{
	width: 150px;
	margin: 0 auto;
	display: block;
}
#content #rightsection .subsection button{
	background-color: white;
	border: 2px solid black;
	border-radius: 999px;
	width: 100px;
	height: 50px;
	color: black;
	font-size: 14pt;
	cursor: pointer;
	display: inline-block;
	margin: 0 20px 0 20px;
	font-family: "Roboto Slab" , sans-serif;
}
#content #rightsection .subsection button:hover{
	border: 2px solid rgba(0, 0, 0, 0.377);
	color: black;
	background-color: rgb(171, 171, 233);
}
/*TABLE SEARCH*/
#content #rightsection table,th,td{
	border: 1px solid black;
	background-color: white;
}
#content #rightsection table{
	width: 100%;
	border-collapse: collapse;
	background-color: white;
}
#content #rightsection th{
	background-color: black;
    color: white;
    height: 35px;
	padding: 0 5px;
	font-family: "Roboto Mono", sans-serif;
	font-size: 10pt;
}
#content #rightsection td{
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
	font-family: "Roboto Mono", sans-serif;
	background-color: #ebe7de;
}
#content #rightsection td:last-child{
    text-align: center;
}
/*CONTENT-RIGHT SECTION*/
/*ANIMATION*/
@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}
@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
@keyframes topdown{
	0% {transform: translateY(-800px)}
	100% {transform: translateY(0)}
}

@media only screen and (min-width: 0px) and (max-width: 1150px) {
	#leftmenu{
		display: block;
		width: 70px;
	}
	#maincontent{
		margin-left: 80px;
	}

}


@media only screen and (min-width: 0px) and (max-width: 1107px){
	#nav .nav_sub h1{
		display: none;
	}
	#nav .nav_sub {
		width: 0;
		transform: translateX(-50px);
	}
}
@media only screen and (min-width: 0px) and (max-width: 1107px){
	table{
		border: 1px solid black;
		background-color: white;
		display: flex;
		justify-content: space-evenly;
	}
}
@media only screen and (min-width: 0px) and (max-width: 548px){
	.subsection form{
		display: flex;
		justify-content: space-evenly;
	}
}
@media print{
	#leftmenu, #nav, #maincontent, button{
		display: none;
	}
	#modal1{
		display: block;
	}
	#modal1 #info{
		width: 100%;
		height: 100%;
		margin: 0;
	}
	#modal1 #info h4:last-of-type{
		display: none;
	}
	#modal1 #info div{
		display: none;
	}
}